.App {
  text-align: center;
  font-family: sans-serif;
  /* padding: 2rem; */
   padding-left: 40%;
  padding-top: 2rem;
  padding-right: 2rem;
  background: url("./assets/backgroundImage.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  scrollbar-width: none;
  height: 100vh;
}
.App::-webkit-scrollbar {
  display: none;
}

.upload-form,
.feedback-form {
  margin: 20px auto;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 300px;
  background: white;
  border-radius: 10px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.bar {
  width: 100%;
  background: #eee;
  border-radius: 10px;
  height: 10px;
  margin-top: 5px;
}

.bar-inner {
  height: 100%;
  background: #4caf50;
  border-radius: 10px;
}
